.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.choco-pizza{
  margin: 5px;
  line-height: 1em;
  font-weight: 1100;
  font-size: 38px;
  font-family: 'Fjalla One', sans-serif;
}

.Delicious{
  display: flex;
    font-family: cursive;
    font-weight: bold;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 5px;
    line-height: 1.1em;
}
.best-food{
  display: block;
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;
    letter-spacing: -.1em;
    text-transform: uppercase;
    margin-top: 2px;
    font-weight: 500;
    color: grey;
}

.logo-a{
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
}

.Recipe-Column{
  display: flex;
    flex-direction: column;
    justify-items: space-between;
}


.Share-Button{
    background-color: rgb(161, 91, 10);
    color: white;
    border: none;
    height: 50px;
    width: 175px;
    margin-left: 121px;
}
